/* Reset */
@import url("reset.css");


/* ------ Базові селектори ------ */
/* Універсальний селектор звертається до всіх об'єктів на сторінці * */
* {
   color: rgba(0, 0, 0, 0.9);
}
/* Селектор тегу <name> звертається до всіх вказагих тегів */
h2 {
   color: red;
}
/* Селектор класу .name звертається до всіх вказагих класів */
.recognition-sub-title {
   color: #a52a2a;
}
/* Селектор атрибуту [] звертається до всіх об'єктів з вказаним атрибутом та точним співпадінням вказаного значення */
[title="Переглянути на карті"] {
   color: #ff0000;
}
/* Селектор ідентифікатора # */
#copyright {
   color: yellowgreen;
}


/* ------ Комбінації селекторів ------ */
/* Усі вказані теги з певним класом <name>.name  */
a.resources-link {
   color: #03b67a;
}
/* Усі вказані теги з двома класами одночасно (порядок запису немає значення!) .name.name */
.title.hero-title {
   color: #ff00c8;
}
/* Звертаємося відразу до всіх вказаних об'єктів , */
.life-section-title,
.museums-title,
.monuments-title,
.libraries-title {
   color: #009196;
}


/* ------ Каскадність селекторів ------ */
/* Усі вкзані теги всередині обє'кта з вказаним класом .name <name> */
.monuments-item span {
   color: #9acd32;
}
.life-section ul span {
   color: #b40000;
}
/* Усі об'єкти з вказаним класом всередині об'єктів з вказаним класом .name .name */
.person-section .person-section-title {
   color: #009196;
}
/* Усі об'єкти всередині об'єктів з вказаним класом .name * */
.menu-list * {
   color: blue;
}


/* ------ Комбінатори ------ */
/* Усі вказані теги першого рівня вкладеності всередині об'єктів з вказаним класом .name > <name> */
.person-section p a > mark,
.museums-item a > mark {
   color: #008000;
}
/* Усі вказані теги які знаходяться далі по коду після об'єктів з вказаним класом та мають той самий рівень вкладеності .name ~ <name> */
.person-section-title ~ h4 {
   color: #af02ff;
}
/* Вказаний тег який знаходиться безпосередньо далі по коду після об'єктів з вказаним класом або тегом та має той самий рівень вкладеності .name + <name> & <name> + <name> */
.legacy ol + p {
   color: #8a2be2;
}
.person-section ol + p {
   color: #fa6502;
}
